# Build artifacts
/dist
/build
/out
*.log

# Dependencies
node_modules/

# Electron
*.asar
*.exe

# DB og klient binærer
sagshub/client/postgresql.exe
sagshub/SagsHub-Distribution/
sagshub/dist-electron/
